<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.2/phpunit.xsd"
		 bootstrap="./tests/bootstrap.php"
		 stderr="true">
	<testsuites>
		<testsuite name="Application Tests">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
